@import "tailwindcss";

:root {
  --background: #081324;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #081324;
  color: white;
}

a {
  cursor: pointer;
}
.font-serif {
  font-family: var(--font-playfair), serif;
}

body {
  font-family: var(--font-inter), sans-serif;
}